$schema: https://azuremlschemas.azureedge.net/latest/managedOnlineDeployment.schema.json

# Name is fixed to "green" by the script; endpoint_name is overridden too
name: green
endpoint_name: placeholder-endpoint

# Model is overridden by the script to: azureml:${BEST_MODEL_REGISTRY_NAME}@latest
model: azureml:placeholder-model@latest

# Use an AML environment you already have (or keep as-is)
#environment: azureml:menu-price-env@latest

instance_type: Standard_E2s_v3
instance_count: 1
request_settings:
  request_timeout_ms: 60000
  max_concurrent_requests_per_instance: 1
liveness_probe:
  initial_delay: 10
  period: 10
readiness_probe:
  initial_delay: 10
  period: 10
app_insights_enabled: true

# No code_configuration for green
# code_configuration:
#   code: ./src
#   scoring_script: score.py

tags:
  env: prod
  service: menu-price-inference
  owner: ahmedshahriar
